a { text-decoration: none; }

.bbox { height: 200px; }

.navbar {
    padding: 20px 0px !important;
    transition: all 250ms ease-in;
}

.navbar-scrolling {
    padding: 10px 0px !important;
    background-color: #000 !important;
}

.navbar-scrolling .dropdown-item,
.navbar-scrolling .nav-link, 
.navbar-scrolling .navbar-brand, 
.navbar-scrolling .navbar-toggler, 
.navbar-scrolling .dropdown-divider {
    color: rgba(255, 255, 255, 0.75) !important;
}


.navbar-scrolling .nav-link:hover,
.navbar-scrolling .navbar-brand:hover,
.navbar-scrolling .dropdown-item:hover {
    color: rgba(255, 255, 255, 1) !important;
} 


.navbar-scrolling .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.75) !important;
}

.navbar-scrolling .navbar-toggler:hover {
    border-color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

.navbar-scrolling .dropdown-menu {
    background-color: #000 !important;
    border: 1px solid rgba(255, 255, 255, 0.25) !important;
}

.navbar-scrolling .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.25); !important;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{   }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media all and (max-width: 736px) {
    .container { max-width: 100%; }
}

@media all and (max-width: 667px) {
    .card-title { font-size: 1rem; }
}

@media all and (max-width: 376px) {
    .card-title { font-size: 1.15rem; }
}

@media all and (max-width: 320px) {
    .card-title { font-size: 1rem; }
}

@media all and (max-width: 280px) {
    .card-title { font-size: 0.8rem; }
    .card-text { font-size: 0.8rem; }
}

