body { padding-top: 80px }

a { text-decoration: none; }

.bbox { height: 200px; }

.bg-color-1 {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.bg-color-2 {
    background-color: #21D4FD;
    background-image: linear-gradient(225deg, #21D4FD 0%, #B721FF 100%);

}

.bg-color-3 {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.navbar {
    padding: 20px 0px !important;
    transition: all 250ms ease-in;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    animation: sildeDown .75s ease-out;
}

@keyframes sildeDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.navbar-scrolling {
    padding: 10px 0px !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.navbar-scrolling .dropdown-item,
.navbar-scrolling .nav-link,
.navbar-scrolling .navbar-brand,
.navbar-scrolling .navbar-toggler,
.navbar-scrolling .dropdown-divider {
    color: rgba(255, 255, 255, 0.75) !important;
}


.navbar-scrolling .nav-link:hover,
.navbar-scrolling .navbar-brand:hover,
.navbar-scrolling .dropdown-item:hover {
    color: rgba(255, 255, 255, 1) !important;
}


.navbar-scrolling .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.75) !important;
}

.navbar-scrolling .navbar-toggler:hover {
    border-color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

.navbar-scrolling .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.75) !important;
    border: 1px solid rgba(255, 255, 255, 0.25) !important;
}

.navbar-scrolling .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.25); !important;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{   }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}
@media (max-width: 1200px) {
    .container { max-width: 100%; }
}

@media (max-width: 1077px) {
    .card-title { font-size: 1.1rem; }
}

@media (max-width: 991px) {
    .card-title { font-size: 1.25rem; }
    .card { max-width: 100% !important; }
}

@media (max-width: 725px) {
    .card-title { font-size: 1.1rem; }
}

@media (max-width: 648px) {
    .card-title { font-size: 0.9rem; }
    .card-text { font-size: 0.85rem; }
}

@media (max-width: 575px) {
    .card-title { font-size: 1.25rem; }
    .card-text { font-size: 1rem; }
}

@media (max-width: 374px) {
    .card-title { font-size: 1.1rem; }
}

@media (max-width: 335px) {
    .card-title { font-size: 1rem; }
}

@media (max-width: 309px) {
    .card-title { font-size: 0.9rem; }
    .card-text { font-size: 0.85rem; }
}
@media (max-width: 283px) {
    .card-title { font-size: 0.8rem; }
    .card-text { font-size: 0.75rem; }
}
@media (max-width: 257px) {
    .card-title { font-size: 0.7rem; }
    .card-text { font-size: 0.65rem; }
}