* {
	color: white;
}

body {
	background-color: #18191a;
}

.main {
	background-color: #242526;
}

.body {
	border: solid 1px #303132;
}

.body:hover {
	border-color: #4f7db5;
}

table, th, td {
  border: 1px solid #4f7db5;
}

td:hover, th:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

a {
	color: #0571ed;
}
a:hover {
	color: red;
}

button {
	background-color: #4CAF50;
	color: white;
}

.dark-button {
	background-color: #555555;
}

.dark-button:hover {
	background-color: #fff;
	color: #555555;
}

.light-button {
	background-color: #fff;
	color: black;
}

.light-button:hover {
	background-color: #555555;
	color: #fff;
}