* {
	color: black;
}

body {
	background-color: #f0f2f5;
}

.main {
	background-color: #ffffff;
}

.body {
	border: solid 1px #c3c3c2;
}

.body:hover {
	border-color: #9a999c;
}

table, th, td {
  border: 1px solid #9a999c;
}

td:hover, th:hover {
    background-color: rgba(50, 50, 50, 0.1);
}

a {
	color: #0571ed;
}
a:hover {
	color: rgb(255, 74, 74);
}

button {
	background-color: #4CAF50;
	color: white;
}

.dark-button {
	background-color: #555555;
}

.dark-button:hover {
	background-color: #fff;
	color: #555555;
}

.light-button {
	background-color: #fff;
	color: black;
}

.light-button:hover {
	background-color: #555555;
	color: #fff;
}