body {
    background-color: #2f2f2f;
    margin: 0;
}
h2{
    margin: auto;
    text-align: center;
    padding: 10px;
    margin: 50px auto 0;
    color: white;
}

#nav {
    height: 50px;
    width: 900px;
    margin: auto;
    background-color: mediumspringgreen;
    text-align: left;
    font-weight: bold;
    display: block;
}

a {
    color: mediumspringgreen;
    text-decoration: none;
}

.p1, .p2 {
    margin: 5px 0px 0px 5px;
    padding: 0;
    text-align: left;
}

.n1 {
    height: 50px;
    width: 150px;
    background-color: seagreen;
    float: left;
    transition: all .2s ease-in-out 0s;
    color: mediumspringgreen;
}

.n2 {
    height: 50px;
    width: 200px;
    background-color: seagreen;
    float: right;
    transition: all .2s ease-in-out 0s;
    color: mediumspringgreen;
}


.n1:hover {
    width: 250px;
    color: seagreen;
    background-color: mediumspringgreen;
}

.n2:hover {
    width: 250px;
    color: #ffffff;
    background-color: #125fde;
}

table {
    text-align: center;
    font-size: 22px;
    color: white;
    margin: 15px auto;
    background-color: seagreen;
}

td, th {
    height: 40px;
    width: 200px;
}

td:hover, th:hover {
    background-color: #125fde;
}

a:hover {
    color: white;
}

.twopart {
    font-size: 16px;
}